*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1ccc0;
  margin-left: 15em;
  margin-right: 15em;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 1em;
}

#principalDiv {
  display: flex;
}

#listsDiv {
  display: flex
}

#form {
  text-align: center;
  border: 1px solid black;
  background-color: white;
  padding: 1em;
  margin: 1em;
  width: 20em;
  height: 10em;
}


#list, #archive {
  text-align: center;
  width: 20em;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

#addtask {
  padding: 0.3em 0.5em;
}

.content {
  display: inline;
  align-items: center;
}

li {
  list-style-type: none; /* Enlève les puces ou les numéros */
}

.listLi, .archiveLi {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.inputTask {
  border: 2px solid #724be0;
  border-radius: 5px;
  padding: 0.3em 0.5em;
}

button {
  display: inline;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #724be0;
  border: 2px solid #724be0;
  font-weight: 700;
}

.globalButton:hover {
  cursor: pointer;
  background-color: transparent;
  color: #633cc6;
  border: 2px solid #633cc6;
}

.globalButton:active {
  color: black;
  background-color: transparent;
  color: #5939b1;
  border: 1px solid #5939b1;
}

.deleteButton {
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #8b2929;
  color: #8b2929;
  margin-left: 1em;
  font-weight: 700;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #742828;
  color: #742828;
}

.deleteButton:active {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #742828;
  color: #742828;
}
