*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1ccc0;
}

#form {
  display: inline-block;
}

.content {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none; /* Enlève les puces ou les numéros */
}

.listLi {
  padding: 0.5em;
}

.inputTask {
  border: 1px solid #1288b7;
  border-radius: 5px;
}

button {
  display: inline;
  margin: 1em;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #724be0;
  border: 2px solid #724be0;
  font-weight: 700;
}

.globalButton:hover {
  cursor: pointer;
  background-color: transparent;
  color: #633cc6;
  border: 2px solid #633cc6;
}

.globalButton:active {
  color: black;
  background-color: transparent;
  color: #5939b1;
  border: 1px solid #5939b1;
}

.deleteButton {
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #8b2929;
  color: #8b2929;
  margin-left: 1em;
  font-weight: 700;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #742828;
  color: #742828;
}

.deleteButton:active {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #742828;
  color: #742828;
}
